.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    position: relative;
    background-color: #fff;
    width: 15%;
    border-radius: 1.5rem;
    margin: 20px 30px 80px 30px;
    height: 100%;
    text-decoration: none;
    box-shadow: 0px 10px 10px #0000006c;
}

.card:hover .diets{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
}


.cardText{
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipeTitle{
    margin-top: 10px;
}

.delete{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
    background-color: #00000012;
    border: none;
    font-size: 23px;
    color: #fff;
    border-radius: 1rem;
}

.recipeImage{
    width: 100%;
    object-fit: cover;
    height: 170px;
    border-radius: 1.5rem;
}

.card h3{
    color: #000;
    margin: 10px;
    font-size: 15px;
}

.edit{
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 35%; 
    height: 35px;  
    background-color: #FFF; 
    border-radius: 100%;
}

.score{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #248232;
    width: 50px;
    border-radius: .2rem;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    padding: 1px;
}


/*Diets*/

.diets{
    display: none;
}

.diet{
    text-transform: capitalize;
    padding: 2px;
    border: 1px solid #248232;
    background-color: none;
    margin: 5px 3px 0px 3px;
    color: #248232;
    font-weight: 700;
    border-radius: .2rem;
    font-size: 13px;
}
