.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    position: relative;
    background-color: #fff;
    width: 15%;
    border-radius: 1.5rem;
    margin: 20px 30px;
}

.delete{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ffffff00;
    border: none;
    font-size: 23px;
    color: #ffffffaf;
}

.card img{
    width: 100%;
    object-fit: cover;
    height: 170px;
    border-radius: 1.5rem;
}

.card h3{
    color: #000;
    margin: 10px;
    font-size: 15px;
}

.edit{
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 15px;    
    border-radius: 100%;
    font-size: 15px;
    border: 2px solid #248232;
    background-color: #ffffff00;
    color: #248232;
    font-weight: 800;
}

.score{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 50px;
    border-radius: .2rem;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}
