nav{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 50px;
    background-color: #2D3A3A;
}

.logo{
    width: 20%;
    height: 20%;
}

.create{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 1rem;
    background-color: #2BA84A;
    color: #fff;
    box-shadow: 0 0 5px 0 #248232;
    font-weight: bold;
    cursor: pointer;
    margin-right: 50px;
}

